<!DOCTYPE html>
<html lang="en">

<head>
  <title>${globalConfig.mallName!}-购物车</title>
  [#include "../../includes/common.html"]
</head>

<body>
    [#include "../../includes/topBar.html"]
  <div class="header head-shadow">
    
    <div class="container shopCart-head">
      <div class="shopCart__process">
        <div class="shopCart__processitem clearfix">
          <div class="shopCart__processlogo"><img src="${res}/images/cartlogo.png" alt="1"></div>
          <div class="shopCart__processlinewrap">
            <img src="${res}/images/check.png" alt="1" class="checklogo">
            <span class="shopCartin__processline-left"></span>
          </div>
          <p class="shopCart__processinfo">我的购物车</p>
        </div>
        <div class="shopCart__processitem clearfix">
          <div class="shopCart__processlogo">
            <img src="${res}/images/orderdark.png" alt="1" width="37px" height="34px">
          </div>
          <div class="shopCart__processlinewrap">
            <span class="shopCart__processline-darkm"></span>
            <img src="${res}/images/checkdark.png" alt="1" class="checklogo">
            <span class="shopCart__processline-dark"></span>
          </div>
          <p class="shopCart__processinfo shopCart__processinfo-gray">订单结算</p>
        </div>
        <div class="shopCart__processitem clearfix">
          <div class="shopCart__processlogo">
            <img src="${res}/images/donepay.png" alt="1"></div>
          <div class="shopCart__processlinewrap">
            <img src="${res}/images/checkdark.png" alt="1" class="checklogo">
            <span class="shopCart__processline-right"></span></div>
          <p class="shopCart__processinfo shopCart__processinfo-gray">完成支付</p>
        </div>
      </div>
      [#assign name="购物车"]
      [#include "../../includes/logo.html"]
    </div>
  </div>

  <div class="shopCart-wrap" id="shopCart" v-if="status" v-cloak>
    <div class="container shopCart-box">
      <table class="shopCart-box__table shopCart-box__table--nb">
        <tr class="shopCart-box__thead">
          <th class="shopCart-box__all">
            <el-checkbox v-model="checkCartAll" @change="setCheckedAll" style="margin-left:25px;">全选</el-checkbox>
          </th>
          <th class="shopCart-box__name" style=" text-align: center;">商品名称</th>
          <th class="shopCart-box__prices">商品单价</th>
          <th class="shopCart-box__num">数量</th>
          <th class="shopCart-box__total">金额（元）</th>
          <th class="shopCart-box__operate" style=" border:none;">操作</th>
        </tr>
      </table>
      <!-- 商家购物车列表 -->
      <div v-if="shopCartList.length>0" v-loading="loading">
        <table class="shopCart-box__table" v-for="(item,index) in shopCartList">
          <tr>
            <td colspan="7" class="shopCart-box__title">
              <el-checkbox v-model="storeItems['store'+index]" @change="setCheckedStore(item,storeItems['store'+index])"
                style="margin-left:5px;"> <a :href="'${base}/store-index.htm?storeId='+item.storeId">{{item.storeName}}</a></el-checkbox>
              <el-popover width="600" trigger="click" placement="bottom-start" v-if="item.coupons.length>0 || item.promotes.length > 0">
                <div class="promote-warpper">
                  <!--优惠信息 -->
                  <h3 v-if="item.coupons.length>0">优惠券</h3>
                  <ul v-if="item.coupons.length>0">
                    <li v-for="coupon in item.coupons" class="promote-coupon__item">
                      <div class="promote-coupon__warp">
                        <div class="promote-coupon">¥ {{$float(coupon.discountAmount)}}</div>
                        <div class="promote-coupon__desc">
                          <p> 满¥{{coupon.conOrderAmount}}元 减¥{{coupon.discountAmount}} 元</p>
                          <!-- <p>{{coupon.conOrderAmount}}</p> -->
                        </div>
                      </div>
                      <!-- 领取优惠券 -->
                      <span class="promote-coupon__save" :data-id="coupon.id" @click="giveCoupon(coupon.id)">领取</span>
                    </li>
                  </ul>
                  <h3 v-if="item.promotes.length > 0">满减</h3>
                  <el-collapse accordion class="promote-collapse">
                    <el-collapse-item v-for="promote in item.promotes" v-if="promote.promoteType==3">
                      <template slot="title">
                        <div class="fl">{{promote.name}}</div>
                      </template>
                      <div>满 ¥{{$float(promote.conOrderAmount)}} 元减 ¥{{$float(promote.discountAmount)}} 元</div>
                      <div>
                        <span v-if="promote.promoteScope==1">全部商品可参与</span>
                        <span v-if="promote.promoteScope==2">部分类目可参与</span>
                        <span v-if="promote.promoteScope==3">部分商品可参与</span>
                        <span v-if="promote.promoteScope==4">部分商品可参与</span>
                      </div>
                    </el-collapse-item>
                  </el-collapse>
                  <h3 v-if="item.promotes.length > 0">满赠</h3>
                  <el-collapse accordion class="promote-collapse">
                    <el-collapse-item v-for="promote in item.promotes" v-if="promote.promoteType==5">
                      <template slot="title">
                        <div class="fl">{{promote.name}}</div>
                      </template>
                      <div>满 ¥{{$float(promote.conOrderAmount)}} 元送 没有</div>
                      <div>
                        <span v-if="promote.promoteScope==1">全部商品可参与</span>
                        <span v-if="promote.promoteScope==2">部分类目可参与</span>
                        <span v-if="promote.promoteScope==3">部分商品可参与</span>
                        <span v-if="promote.promoteScope==4">部分商品可参与</span>
                      </div>
                    </el-collapse-item>
                  </el-collapse>
                </div>
                <div class="coupon_bg" slot="reference">优惠</div>
              </el-popover>
            </td>
          </tr>
          <tbody class="shopCart-box__tbody">
            <tr class="jsMerchandise" v-for="(child,index2) in item.items" :class="showStatusBg(child)">
              <td class="shopCart-box__all">
                <el-checkbox v-model="child.isChecked" @change="changeProductChecked(child,item.items,index)" :disabled="child.item.inventory<=0"
                  v-if="child.item.product.status==3"></el-checkbox>
                <span v-else>失效</span>
              </td>
              <td class=" shopCart-box__name">
                <div class="overflow">
                  <div class="shopCart-box__img">
                    <img :src="baseUrl+child.item.product.coverImage" v-if="child.item.product.coverImage">
                  </div>
                  <div class="shopCart-box__detail">
                    <div class="shopCart-product__name">
                      <a :href="'/product-detail.htm?productId='+child.item.productId+'&storeId='+item.storeId">
                      {{child.item.product.name}}
                    </a>
                  </div>
                    <ul class="overflow" v-if="child.item.productSku&&child.item.productSku.saleAttrs">
                      <li class="shopCart-p-attr" v-for="attr in child.item.productSku.saleAttrs">
                        {{attr.name}}:{{attr.value}}
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
              <td class="shopCart-box__prices">
                <span class="shopCart-box__newPrice">￥{{$float(child.item.salePrice)}}</span>
                <span v-if="child.item.salePrice<child.item.oldPrice" class="down-price">
                  降价{{$float(child.item.oldPrice-child.item.salePrice)}}元
                </span>
              </td>
              <td class="shopCart-box__num">
                <div v-if="child.item.product.status===3">
                  <el-input-number size="mini" v-model="child.item.productCount" :min="1" :max="child.item.inventory"
                    :disabled="child.item.inventory<=0"></el-input-number>
                  <div v-if="child.item.inventory<=0" style="margin-top:5px;">库存不足</div>
                </div>
                <div v-else>
                  {{child.item.productCount}}
                </div>
              </td>
              <td class="shopCart-box__total">
                <span class="shopCart-box__mark">￥{{$float(child.item.salePrice*child.item.productCount)}}</span>&nbsp;&nbsp;
              </td>
              <td class="shopCart-box__operate">
                <a class="shopCart-box__collect" @click="collectCart(child.item.productId,child.item.productSkuId)">移入收藏</a>
                <a class="shopCart-box__collect" @click="removeCart(child.item.productId,child.item.productSkuId,'del')">删除</a>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- 总结算页面 -->
        <div class="shopCart-box__tfoot">
          <el-checkbox v-model="checkCartAll" @change="setCheckedAll">全选</el-checkbox>
          <span class="shopCart-box__lattice chosenNum">已选择<em>{{checkedLen}}</em>件商品</span>
          <span class="shopCart-box__lattice" style="margin-left:100px;">商品总价（不含运费）：<em>{{$float(productPrice)}}元</em>
          </span>
          <div class="shopCart-box__account" :class="checkedLen==0 ? 'shopCart-box__account--disabled':'' " @click="createOrder">结算</div>
          <!-- 带到下一个页面去表单会刷新处理 -->
          <form id="form" method="post" action="${base}/member-cart-settlement.htm">
          <input type="hidden" name="${(csrfToken.parameterName)!}" value="${(csrfToken.token)!}">
          </form>
        </div>
      </div>
      <div class="empty-box" v-else>
        <div class="empty-box__bg">
          <img class="empty-box__img" src="${res}/images/shopEmpty-bg.png">
        </div>
        <div class="empty-box__cont">
          <span class="empty-box__txt">您的购物车还是空的，您还没有添加任何商品！</span>
          <a class="empty-box__link" href="${base}/">挑选商品</a>
        </div>
      </div>
      [#include "../../includes/recommend.html"]
    </div>
  </div>
  [#include "../../includes/footer.html"]

</body>
<script>
  var shopCart = new Vue({
    el: '#shopCart',
    data() {
      return {
        status: false, // 页面加载状态
        storeItems: {}, // 店铺商品全选状态
        checkCartAll: false,
        shopCartList: [], // 购物车列表
        baseUrl: cms.url,
        checkedLen: 0, // 购物车店铺数量
        productPrice: 0, // 商品总数量
        checkedProduct: [], // 选中的商品信息
        formData: '',
        loading: false
      }
    },
    computed: {
      isCheckedAll() {
        this.checkCartAll = checked
        return checked
      }
    },
    watch: {
      storeItems: {
        handler(newVal, oldVal) {
          let checked = true
          for (const key in this.storeItems) {
            if (this.storeItems.hasOwnProperty(key)) {
              if (this.storeItems[key] === false) {
                checked = false
                break
              }
            }
          }
          this.checkCartAll = checked
        },
        deep: true
      },
      shopCartList: {
        handler(newVal, oldVal) { // 动态监听  商品信息的改动，应该没有性能问题
          let count = 0
          let price = 0
          const checkedProduct = []
          this.shopCartList.forEach((item, index) => {
            if (item.items && item.items.length > 0) {
              item.items.forEach(v => {
                if (v.isChecked) {
                  checkedProduct.push(v.item)
                  price += v.item.salePrice * v.item.productCount
                  count += v.item.productCount
                }
              })
            }
          })
          this.checkedLen = count
          this.productPrice = price
          this.checkedProduct = checkedProduct
        },
        deep: true
      }
    },
    methods: {
      getShopCartList() {
        cms.ajax({
          url: '${base}/member/cart/get'
        }, (res) => {
          if (res.code === 200) {
            this.storeLen = res.data.length
            res.data.forEach((item, index) => { // 获取到所有商品的数量
              this.$set(this.storeItems, 'store' + index, false)
              this.productLen = this.productLen + item.items.length
              if (item.items && item.items.length > 0) {
                item.items.forEach(v => {
                  // 自定义添加一个选中状态
                  v.isChecked = false
                })
              }
            })
            this.shopCartList = res.data
            this.status = true
          } else {
            this.status = true
          }
        })
      },
      giveCoupon(id) {
        cms.ajax({
          url: cms.url + '/member/coupon/getCoupon',
          data: {
            couponId: id
          }
        }, (res) => {
          if (res.code === 200) {
            cms.alert('领取成功',4)
          } else {
            cms.alert(res.message,5)
          }
        })
      },
      removeCart(id, skuId,status) { // 移除购物车选项
      if(status && status == 'del'){
        this.$confirm('确认移出购物车？')
          .then(_ => {
            let params
            if (skuId == null) { // 有skuid id 二者取其一
              params = {
                productIds: [id],
                productSkuIds: ['']
              }
            } else {
              params = {
                productIds: [''],
                productSkuIds: [skuId]
              }
            }
            cms.ajax({
              url: '${base}/member/cart/delete',
              type: 'post',
              data: JSON.stringify(params)
            }, (res) => {
              if (res.code === 200) {
                this.getShopCartList()
                console.log(res)
              }
            })
          })
          .catch(_ => {});
      }else{
          let params
          if (skuId == null) { // 有skuid id 二者取其一
            params = {
              productIds: [id],
              productSkuIds: ['']
            }
          } else {
            params = {
              productIds: [''],
              productSkuIds: [skuId]
            }
          }
          cms.ajax({
            url: '${base}/member/cart/delete',
            type: 'post',
            data: JSON.stringify(params)
          }, (res) => {
            if (res.code === 200) {
              this.getShopCartList()
              console.log(res)
            }
          })
      }
        
      },
      collectCart(id,skuId){//移入收藏
        var self=this
        cms.ajax({
					url: '${base}/member/memberfollowproduct/save',
					type: 'get',
					data: {
						id: id
					}
				}, function res(res) {
					if (res.code == 200) {
           cms.alert('收藏成功',4)
           self.removeCart(id,skuId)
					} else {
						cms.alert(res.message,5)
					}
				})  
      },
      setCheckedAll(val) { // 手动触发全选状态
        this.shopCartList.forEach((item, index) => {
          this.storeItems['store' + index] = val
          if (item.items && item.items.length > 0) {
            item.items.forEach(v => {
              // 自定义添加一个选中状态
              v.isChecked = val
              if (v.item.inventory <= 0 || v.item.product.status !== 3) { //排除库存0和失效的
                v.isChecked = false
              } else {
                v.isChecked = val
              }
            })
          }
        })
      },
      setCheckedStore(item, status) {
        if (item.items && item.items.length > 0) {
          item.items.forEach(v => {
            // 自定义添加一个选中状态
            if (v.item.inventory <= 0 || v.item.product.status !== 3) { //排除库存0和失效的
              v.isChecked = false
            } else {
              v.isChecked = status
            }
          })
        }
      },
      changeProductChecked(item, parentData, index) { // 单个商品的选中  当前的选择  父级的选项  父级索引
        let isAll = true
        for (let i = 0; i < parentData.length; i++) {
          if (parentData[i].isChecked === false) { // 有一个没有选就代表没有全选
            this.$set(this.storeItems, 'store' + index, false)
            isAll = false
            break
          }
        }
        if (isAll) {
          this.$set(this.storeItems, 'store' + index, true)
        } else {
          return false
        }
      },
      createOrder() { // 生成结算订单
        const productInfo = this.checkedProduct
        const products = []
        productInfo.forEach(v => {
          if (v.productCount > 0) {
            const obj = {
              productId: v.productId,
              productSkuId: v.productSkuId == null ? '' : v.productSkuId,
              count: v.productCount
            }
            products.push(obj)
          }
        })
        const params = {
          isFromShopCart: true,
          products: products
        }
        this.getOrderInfo(params)
      },
      getOrderInfo(params) { // 获取订单预结算信息
        if (this.checkedLen > 0) {
          this.loading = true
          cms.ajax({
              url: '${base}/member/order/getPrePay',
              type: 'post',
              data: JSON.stringify(params)
            },
            res => {
              if (res.code === 200) {
                let input = $("<input type='hidden' name='params' />")
                input.attr('value', JSON.stringify(res.data))
                $('#form').append(input)
                $('#form').submit() // 结算页
              } else {
                cms.alert(res.message,5)
              }
              this.loading = false
            }
          )
        }
      },
      showStatusBg(data) { //选中样式和禁用样式处理
        if (data.isChecked) {
          return 'shopCart-box__tbody--checked'
        } else if (data.item.inventory <= 0 || data.item.product.status != 3) {
          return 'shopCart-box__tbody--disabled'
        }
      }
    },
    created() {
      this.getShopCartList()
    }
  })
</script>

</html>