<div class="vipnav">
    <div class="vip-container clearfix">
        <div class="vn-left">
            <div class="vn-img-box">
                <a href="${base}/member-account-index.htm">
                    <img src="${base}${globalConfig.mallLoginAndRegLogo!}" class="vn-logo" style="width:220px;height:55px;">
                </a>
            </div>
            <ul class="clearfix vn-ul">
                <li class="vn-li">
                    <a href="${base}/member-account-index.htm" class="vn-link">首页</a>
                </li>
                <li class="vn-li vn-li-drop">
                    <a href="#" class="vn-link vn-mycount">我的账户<i class="fa fa-angle-down"></i></a>
                    <div class="vn-mycount-drop vn-mycount-drop--active">
                        <a href="${base}/member-account-info.htm" class="vn-drop-link">个人信息</a>
                        <a href="${base}/member-account-security.htm" class="vn-drop-link">账户安全</a>
                        <a href="${base}/member-account-bind.htm" class="vn-drop-link">账户绑定</a>
                        <a href="${base}/member-account-invoice.htm" class="vn-drop-link">增票资质</a>
                        <a href="${base}/member-account-address.htm" class="vn-drop-link">收货地址</a>
                    </div>
                </li>
                <li class="vn-li">
                    <a href="${base}/member-message-mes.htm" class="vn-link">消息</a>
                </li>
            </ul>
        </div>
        <!-- 右侧 -->
        <div class="vn-right">
            <div class="header-search">
                <!-- 我的购物车 -->
                <!-- 我的购物车 -->
                <div href="#" class="header-search__buycar vn-buycar" style="padding-right:0px;border:none;">
                    <div class="header-search__buycar--img">
                        <a href="${base}/member-cart-index.htm" class="header-search__lk">
                            我的购物车&nbsp;&nbsp;<i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>
                    <!-- 购物车商品 -->
                    <div class="header-burcar__items vn-buycar-items" style="right:0" id="cartBox" v-loading="loading">
                        [#if user??]
                        <div v-if="cartList.length>0">
                            <div class="header-burcar__inner">
                                <h3 class="header-burcar__title">购物车列表</h3>
                            </div>
                            <div class="header-burcar__box">
                                <div class="header-burcar__item" v-for="product in cartList">
                                    <div class="header-burcar__inner ">
                                        <div class="header-burcar__img"><img :src="baseUrl+product.item.product.coverImage" alt=""></div>
                                        <div class="header-burcar__text"> <a :href="'${base}/product-detail.htm?productId='+product.item.product.id">{{product.item.product.name}}</a></div>
                                        <div class="header-burcar__edit">
                                            <p class="header-burcar__count">￥{{$float(product.item.oldPrice)}} x
                                                {{product.item.productCount}}</p>
                                            <p class="header-burcar__del" @click="removeCart(product.item.productId,product.item.productSkuId)">删除</p>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-burcar__totals" v-cloak>
                                <span class="header-burcar__total">共{{number}}件商品 共计¥ {{$float(total)}}</span>
                                <a href="${base}/member-cart-index.htm" class="header-burcar__btn">去购物车结算</a>
                            </div>
                        </div>
                        <div v-else>
                            <div style="font-size: 14px; text-align: center;color:#666;line-height: 66px;">
                                购物车中还没有商品，赶紧选购吧！
                            </div>
                        </div>
                        <script type="text/babel">
                            var shopCart= new Vue({
                                    el:'#cartBox',
                                    data () {
                                        return {
                                        cartList:[],
                                        baseUrl:'${base}',
                                        loading:false
                                        }
                                    },
                                        computed: {
                                            number(){
                                            let number=0
                                                this.cartList.forEach(v => {
                                                number=number+v.item.productCount
                                                });
                                                return number
                                            },
                                            total(){
                                            let total=0
                                                this.cartList.forEach(v => {
                                                total=total+(v.item.productCount*v.item.oldPrice)
                                                });
                                                return total   
                                            }
                                        },
                                        methods: {
                                            getCartList(){
                                            var self=this
                                            cms.ajax({
                                                url:cms.url+'/member/cart/get',
                                            }, (res)=> {
                                                if(res.code==200){
                                                let arr=[]
                                                res.data.forEach(v => {
                                                v.items.forEach(item => {
                                                arr.push(item)
                                                });
                                                });   
                                                this.cartList=arr
                                                }
                                            })
                                            },
                                            removeCart(id, skuId) { // 移除购物车选项
                                            this.loading=true
                                                let params
                                                if (skuId == null) { // 有skuid id 二者取其一
                                                params = {
                                                    productIds: [id],
                                                    productSkuIds: ['']
                                                }
                                                } else {
                                                params = {
                                                    productIds: [''],
                                                    productSkuIds: [skuId]
                                                }
                                                }
                                                cms.ajax({
                                                url: '${base}/member/cart/delete',
                                                type: 'post',
                                                data: JSON.stringify(params)
                                            }, (res) => {
                                                if (res.code === 200) {
                                                this.getCartList()
                                                }
                                                this.loading=false
                                            })
                                            },
                                        },
                                        created () {
                                            this.getCartList()
                                        }
                                        })
                      </script>
                        [#else]
                        <div style="position: absolute;top: 50%; left: 50%; margin-left: -47px; margin-top: -9px;font-size: 14px;">
                            请<a href="${base}/login">登录</a>后查看
                        </div>
                        [/#if]
                    </div>
                </div>
                <!-- 搜索框 -->
                <div class="vip-headsearch vn-sch-group" id="headerSearch">
                    <!-- 搜索框搜索 -->
                    <div class="vip-headsearch__input vn-sch-input">
                        <div class="vip-headsearch__icon"><i class="fa fa-search"></i></div>
                        <input type="text" class="vip-headsearch__info" placeholder="请输入商品名称" v-model="productName" @keyup.enter="searchProduct" @focus="getPlaceholder">
                    </div>
                    <!-- 搜索框按钮 -->
                    <div>
                        <a href="javascript:;" class="vip-headsearch__btn" @click="searchProduct">搜索</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/babel">
    var  searchObj= new Vue({
      el:'#headerSearch',
       data () {
         return {
           placeholder:'${keyword!?html}'==''?'':'${keyword!?html}',
           productName:'',
           cartList:[],
           baseUrl:cms.url
         }
       },
       computed: {
         number(){
           let number=0
            this.cartList.forEach(v => {
              number=number+v.item.productCount
            });
            return number
         },
         total(){
          let total=0
            this.cartList.forEach(v => {
              total=total+(v.item.productCount*v.item.oldPrice)
            });
            return total   
         }
       },
       methods: {
        getPlaceholder(){
          this.productName=this.placeholder
        },
         searchProduct(){//商品搜索
           if(this.productName==''){
            location.href='${base}/product-search.htm?keyword='+this.placeholder
           }else{
            location.href='${base}/product-search.htm?keyword='+this.productName
           }
         }
       }
    })
  </script>